:root {
    --lpurple: rgb(246, 214, 247);
    --dpurple: rgb(248, 193, 249);
    --ddpurple: rgb(235, 167, 235);
    --text: rgb(40, 1, 66);
    --gray: rgb(192, 174, 188);
    --dpink: rgb(221, 124, 187);
    --ddpink: rgb(232, 108, 189);
}