<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="{{ url_for('menu') }}">Menú</a></li>      
      </ul>
      <ul>
        <li><a href="{{ url_for('agregar_donacion') }}">Agregar Donación</a></li>
      </ul>
      <ul>
        <li><a href="{{ url_for('ver_dispositivos') }}">Ver Dispositivos</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %} 
    
    <script> const menuUrl = "{{ url_for('menu') }}"; </script>
    {% block javascript %}{% endblock %}
  </body>
</html>
